.btn_mobile_phone {
  width: 35px;
  height: 20px;
  background-color: #fff;
  border: none;
  background-image: url(..//../assets/icon/menu.svg);
  cursor: pointer;
}

.logo {
  width: 124px;
  height: 44px;
}

.btn_call {
  width: 60px;
  height: 41px;
  background-color: #6cac3d;
  border-radius: 3px;
  background-image: url(../../assets/icon/call.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.container_for_position_mobile_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 29px;
}

.hero {
  margin-top: 15px;
  height: 687px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    ),
    url(../../assets/img/big-hero.png);

  background-repeat: no-repeat;
  background-position: right;
}

.heroTitle {
  font-size: 34px;
  font-weight: bold;
  padding-top: 43px;
  padding-left: 20px;
  padding-right: 20px;
}

.heroSubtitle {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 30px;
}

.heroPrice {
  font-size: 52px;
  font-weight: 700;
  width: 130px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 3px;
  text-align: center;
  margin: 4px;
}

.advantageWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 164px);
  margin-top: 15px;
}

.advantageItem {
  padding-left: 10px;
}

.advantageIcon {
  width: 60px;
  height: 60px;
}

.advantageText {
  font-size: 18px;
  font-weight: 700;
}
